/*Style of headings 1,3,4,5,6*/
h1{
    font-family: arial;
    font-size: 4em;
    color: black;
    text-align: right;
    margin-right: 7em;
    position: absolute;
    visibility: visible;
    top: 1em;
    left: 4em;
}

h3{
    font-family: arial;
    font-size: 3em;
    color: black;
    text-align: center;
}
h4{
    font-family: arial;
    font-size: 2em;
    color: black;
    text-align: center;
}
h5 {
    font-family: arial;
    font-size: 1em;
    color: black;
    text-align: center;
}
h6{
    font-family: arial;
    font-size: 1em;
    text-align: center;
}
/*Border around header and footer*/
header {
    border-style: solid;
    border-width: .5em;
    border-color: #5d8aa8;
}
footer {
      border-style: solid;
    border-width: .5em;
    border-color: #5d8aa8;
}
/*Image positioning*/
img.slogan{
    position: absolute;
    visibility: visible;
    top: 5em;
    right: 2em;
}
/*center the body slightly, a featre of many other government websites*/ 
body {
    margin-left: 5em;
    margin-right: 5em;
}

/*Style of paragraph text, and instructions text- used two different id's because the instructions text needs to be centered and the paraghraph not*/ 
p{
    font-family: arial;
    margin-left: 2em;
    margin-right: 2em:
        
}
instructions {
    font-family: arial;
    text-align: center;
}
